.modifypassword{
    margin: -8px;
    user-select: none;
}

.modifypassword-lunbo{
    width: 100vw;
    height: 100vh;
}

#lunboimg{
    width: 100vw;
    height: 100vh;
}

.modifypassword-logo{
    position:absolute;
    width: 1000px;
    top: -30px;
    left: 2vw;
}

#logoimg{
    width: 200px;
    height: 200px;
    float: left;
}

.modifypassword-logo-text{
    position: relative;
    top: 10vh;
    left: -20px;
    font-size: 30px;
}

.modifypassword-infor{
    position: fixed;
    top: 0;
    left: 30%;
    width: 600px;
    height: 100vh;
    /*background-color:#000;
    background: rgba(0, 0, 0, 0.5);*/
}

.modifypassword-infor-insert{
    position: absolute;
    background-color: #f3f8feaa;
    top: 15vh;
    left: 100px;
    width: 410px;
    height: 65vh;
    opacity:1;
    border-radius: 10px;
}

.modifypassword-infor-developer{
    position: relative;
    top: 81vh;
    color: white;
    text-align: center;
    font-size: 15px;
}

.modifypassword-infor-insert-content{
    position: absolute;
    top: 15px;
    left: 35%;
    font-size: 30px;
}

.biaodan{
    display: block;
    position: absolute;
    top: 70px;
    left: 10%;
    font-size: 20px;
    text-align: right;
}

.biaodan-input{
    margin: 30px 0;
}

.biaodan-input>input{
    text-align: left;
    height: 30px;
    width: 252px;
    border-radius: 5px;
}

.modifypassword-button{
    position: relative;
    top: 20px;
    font-size: 30px;
    left: 0%;
    width: 100%;
    text-align: center;
    background-color: aqua;
    border-radius: 10px;
    cursor: pointer;
}

.go-login{
    position: fixed;
    top: 1vh;
    right: 1vh;
    text-decoration:none;
    background-color: deepskyblue;
    border-radius: 15px;
    padding: 5px 5px;
    cursor: pointer;
    color: black;
}
